{% if widget is defined %}
    {% set class='col-md-'~widget.getSize() %}
    {% set content=widget.getContent %}
{% elseif form is defined %}
    {% if form.size.vars.value == '' %}
        {% set class='col-md-4' %}
    {% else %}
        {% set class='col-md-'~form.size.vars.value %}
    {% endif %}
{% else %}
    {% set class='col-md-4' %}
{% endif %}
<div class="{{ class }}" id="{{ form.vars.id }}">
    {% if form is defined %}
        <div class="btn-group showonparent" data-keep="yes">
            <span class="fa fa-arrows sorthandle"></span>
        </div>
        <div class="btn-group pull-right showonparent" data-keep="yes">
            <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="glyphicon glyphicon-cog"></i>
                <span class="fa fa-caret-down"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" data-bind="click[setWidgetSize(4,col-md-4)]">1/3 Size</a></li>
                <li><a href="#" data-bind="click[setWidgetSize(6,col-md-6)]">1/2 Size</a></li>
                <li><a href="#" data-bind="click[setWidgetSize(8,col-md-8)]">2/3 Size</a></li>
                <li><a href="#" data-bind="click[setWidgetSize(12,col-md-12)]">Full Size</a></li>
                <li><a href="#" data-toggle="modal" data-target="#{{ form.vars.id }}_modal">Edit Widget</a></li>
                <li><a href="#" data-bind="click[deleteCollectionRow(#{{ form.vars.id }})]">Delete Widget</a></li>
            </ul>
        </div>
    {% endif %}
{#    <div class="modal fade" id="{{ form.vars.id }}_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keep="yes">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    {% for child in form.children %}
                        {{ form_widget(child) }}
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>#}
    {% if widget is defined %}
        {% set content=widget.getContent %}
    {% elseif form is defined %}
        {% if form.content.vars.value == '' %}
            Heading
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.

            View details »
        {% else %}
            {{ form.content.vars.value }}
        {% endif %}
    {% endif %}

</div>