{% extends 'LightCMSCoreBundle:Backend/default:layout.html.twig' %}

{% form_theme form 'LightCMSCoreBundle:Form:theme.html.twig' %}

{% block body %}
    {{ form_start(form) }}

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Node Informations</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            {{ form_row(form.name) }}
            {{ form_row(form.urlname) }}
            {{ form_row(form.parent) }}
            {{ form_row(form.published) }}
        </div><!-- /.box-body -->
    </div>

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Page Header</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            {{ form_row(form.header) }}
        </div><!-- /.box-body -->
    </div>

    <div class="box box-primary">
        <div class="box-footer">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-info'}}) }}
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}

