{% extends 'LightCMSCoreBundle:Node:edit.html.twig' %}

{% block submit %}

    <div class="btn-group" style="margin-right:20px;">
        {{ form_row(form.submit) }}
    </div>
    {% if form.unpublish is defined %}
        <div class="btn-group" style="margin-right:20px;">
            {{ form_row(form.unpublish) }}
        </div>
    {% endif %}
    {% if node.getCreated() %}
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Show Version
                <span class="fa fa-caret-down"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {% for version in node.getVersions() %}
                    <li><a href="{{ lcmspath('node', 'version', 'edit', {'id': version.getId()}) }}">Version {{ version.number }}</a></li>
                {% endfor %}
                <li><a href="{{ lcmspath('node', 'version', 'createfrompage', {'id': node.getId()}) }}">add Version</a></li>
            </ul>
        </div>
    {% endif %}

{% endblock %}

{% block form %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Page informations</h3>
        </div>
        <div class="box-body">
            {{ form_row(form.name) }}
            {{ form_row(form.url) }}
            {{ form_row(form.parent) }}
        </div>
    </div>
{% endblock %}

