{% extends 'LightCMSCoreBundle:Backend:layout.html.twig' %}

{% form_theme form with [ 'LightCMSPageBundle:Form:theme.html.twig', 'LightCMSCoreBundle:Form:theme.html.twig' ] %}

{% block body %}
{% spaceless %}
    {{ form_start(form) }}

    <section class="content-header">
        <h1>
            {{ entity.page.name }} - Version {{ entity.number }}{#<small>{{ entity.id }}</small>#}

            <div class="pull-right">
                <div class="btn-group" style="margin-right:20px">
                    {{ form_widget(form.submit) }}
                </div>
                {% if form.publish is defined %}
                    <div class="btn-group" style="margin-right:20px">
                        {{ form_widget(form.publish) }}
                    </div>
                {% endif %}
                <div class="btn-group" style="margin-right:20px">
                    <a class="btn btn-info" href="{{ lcmspath('node', 'version', 'createfromversion', {'id': entity.getId()}) }}">Duplicate</a>
                </div>
                <div class="btn-group" style="margin-right:20px">
                    <a class="btn btn-info" href="#" data-bind="click[addPrototype({{ form.rows.vars.id }})]" data-prototype="{{ form_widget(form.rows.vars.prototype)|escape }}">Add Row</a>
                </div>
                <div class="btn-group">
                    <a class="btn btn-default" href="{{ lcmspath('node', 'page', 'edit', {'id': entity.getPage().getId()}) }}">Back to Page</a>
                </div>
            </div>
        </h1>
    </section>

    <section class="content">
        {{ form_row(form.rows) }}
    </section>

    {{ form_end(form) }}
{% endspaceless %}
{% endblock %}

