{% extends 'LightCMSCoreBundle:Backend:layout.html.twig' %}

{% block body %}
    {{ form_start(form) }}

    <section class="content-header">
        <h1>
            {% if user.getId() %}
                {{ user.lastname }} {{ user.firstname }}
            {% else %}
                Create User
            {% endif %}

            <div class="pull-right">
                <div class="btn-group" style="margin-right:20px;">
                    {{ form_row(form.submit) }}
                </div>
            </div>
        </h1>
    </section>

    <section class="content">
        <div class="col-xs-4">
            <div class="box">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for treeuser in getModuleTree('user') %}
                            <tr class="treegrid-{{ treeuser.id }}{% if user is defined and treeuser == user %} tree-activate{% endif %}">
                                <td>
                                    <i class="{{ getIcon('user', 'user') }}"></i>
                                    <span class="tree-space"><a href="{{ lcmspath('user', 'user', 'edit', {'id': treeuser.id}) }}">{{ treeuser.lastname }} {{ treeuser.firstname }}</a></span>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">User informations</h3>
                </div>
                <div class="box-body">
                    {{ form_row(form.email) }}
                    {{ form_row(form.firstname) }}
                    {{ form_row(form.lastname) }}
                    {{ form_row(form.plainPassword) }}
                    {{ form_row(form.isPasswordExpired) }}
                    {{ form_row(form.role) }}
                    {{ form_row(form.isActive) }}
                </div>
            </div>
        </div>
    </section>

    {{ form_end(form) }}
{% endblock %}

