{% extends 'LightCMSCoreBundle:Backend:layout.html.twig' %}

{% block body %}
    <section class="content-header">
        <h1>User List
            <div class="pull-right">
                <div class="btn-group" style="margin-right:20px">
                    <a href="{{ lcmspath('user', 'user', 'create', {}) }}" class="btn btn-sm btn-success"><i class="fa fa-plus"></i></a>
                </div>
                <div class="btn-group" style="margin-right:20px">
                    <div class="pull-right" style="width: 300px">
                        <div class="input-group">
                            <span class="input-group-addon">Filter</span>
                            <input id="filter" type="text" class="form-control" placeholder="Type here..." data-bind="ready{setFocus()}|keyup{filter()}">
                        </div>
                    </div>
                </div>
            </div>
        </h1>
    </section>

    <section class="content">

        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered" data-bind="ready{treegrid()}">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th style="width: 100px">Status</th>
                                <th style="width: 100px">Action</th>
                            </tr>
                        </thead>
                        <tbody class="searchable">
                            {% for treeuser in getModuleTree('user') %}
                                <tr>
                                    <td>
                                        <i class="{{ getIcon('user', 'user') }}"></i>
                                        <span class="tree-space"><a href="{{ lcmspath('user', 'user', 'edit', {'id': treeuser.id}) }}">{{ treeuser.lastname }} {{ treeuser.firstname }}</a></span>
                                    </td>
                                    <td>{{ treeuser.email }}</td>
                                    <td>
                                        {% if treeuser.isActive %}
                                            <span class="label label-success">Active</span>
                                        {% else %}
                                            <span class="label label-danger">Inctive</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="btn-sm btn-danger" href="{{ lcmspath('user', 'user', 'delete', {'id': treeuser.id }) }}"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}