{% extends 'LightCMSCoreBundle:Backend:layout.html.twig' %}

{% block body %}
    <section class="content-header">
        <h1>Media List
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Add Media
                        <span class="fa fa-caret-down"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% for type,entity in getTypes('media') %}
                            <li>
                                <a href="{{ lcmspath('media', type, 'create', {}) }}">{{ entity.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="btn-group" style="margin-right:20px;">
                    <div class="pull-right" style="width: 300px;">
                        <div class="input-group">
                            <span class="input-group-addon">Filter</span>
                            <input id="filter" type="text" class="form-control" placeholder="Type here..." data-bind="ready{setFocus()}|keyup{filter()}">
                        </div>
                    </div>
                </div>
            </div>
        </h1>
    </section>
    <section class="content">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered" data-bind="ready{treegrid()}">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th style="width: 100px;">Created</th>
                            <th style="width: 100px;">Updated</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for treemedia in getModuleTree('media') %}
                            <tr class="treegrid-{{ treemedia.id }}{% if treemedia.parent != null %} treegrid-parent-{{ treemedia.parent.id }}{% endif %}" style="display: none;">
                                <td>
                                    <i class="{{ getIcon('media', treemedia.getInheritanceType()) }}"></i>
                                    <span class="tree-space"><a href="{{ lcmspath('media', treemedia.getInheritanceType(), 'edit', {'id': treemedia.id}) }}">{{ treemedia.name }}</a></span>
                                </td>
                                <td style="width: 100px;">{{ treemedia.created|date('Y-m-d') }}</td>
                                <td style="width: 100px;">{{ treemedia.updated|date('Y-m-d') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}