{% extends 'LightCMSCoreBundle:Backend:layout.html.twig' %}

{% form_theme form 'LightCMSCoreBundle:Form:theme.html.twig' %}

{% block body %}
    {{ form_start(form) }}

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Node Informations</h3>
        </div>
        <div class="box-body">
            {{ form_row(form.title) }}
            {{ form_row(form.host) }}
            {{ form_row(form.layout) }}
            {{ form_row(form.priority) }}
            {{ form_row(form.rootNode) }}
            {{ form_row(form.homeNode) }}
        </div>
    </div>

    <div class="box box-primary">
        <div class="box-footer">
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-info'}}) }}
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}

