<!DOCTYPE html>
{% set css = '/bundles/lightcmscore/css/' ~ site.getLayout() ~ '/' %}
<html>
    <head>
        <title>{{ site.getTitle() }}</title>
        {% block stylesheets %}
            <link type="text/css" rel="stylesheet" href="{{ asset(css ~ 'style.css') }}" />
        {% endblock %}
        {% block javascript %}
            <script type="text/javascript" src="{{ asset('/bundles/lightcmscore/js/jquery-2.1.4.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('/bundles/lightcmscore/js/tinymce/tinymce.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="htop">
                <div class="content">
                    <input type="text" /> <a href="#search">Search</a>
                </div>
            </div>
            <div class="hmiddle">
                <div class="content title">
                    {{ site.getTitle() }}
                </div>
            </div>
            <div class="hbottom">
                <div class="content breadcrumb">
                    Breadcrumb
                </div>
            </div>
        </header>
        <div class="body">
            {{ render(controller(bodyController, { 'path': path })) }}
        </div>
    </body>
</html>