{% extends 'LightCMSCoreBundle:Node:edit.html.twig' %}



{% block submit %}

    <div class="btn-group" style="margin-right:20px;">
        {{ form_row(form.submit) }}
    </div>

{% endblock %}

{% block form %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Site informations</h3>
        </div>
        <div class="box-body">
            {{ form_row(form.name) }}
            {{ form_row(form.host) }}
            {{ form_row(form.priority) }}
            {% if form.home is defined %}
                {{ form_row(form.home) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
