{% block fieldgroup_row %}
    {% spaceless %}
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">{{ form.vars.label }}</h3>
            </div>
            <div class="box-body">
                {{ form_widget(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block collection_row %}
    {% spaceless %}
        {{ form_widget(form) }}
    {% endspaceless %}
{% endblock %}

{% block widget_row %}
    {% spaceless %}

    {% endspaceless %}
{% endblock %}


{% block row_row %}
    {% spaceless %}
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Row</h3>
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Add Widget
                        <span class="fa fa-caret-down"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% for name, prototype in form.widgets.vars.prototypes %}
                            <li><a href="#" data-prototype="{{ form_widget(prototype)|escape }}" data-bind="click[addPrototype(#{{ form.widgets.vars.id }})]">{{ name|trans }}</a></li>
                        {% endfor %}
                    </ul>
                    <button type="button" class="btn btn-xs btn-danger" data-bind="click[deleteCollectionRow(.box-primary)]">Delete Row</button>
                </div>
            </div>
            <div class="box-body">
                {{ form_widget(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            {{ form_label(form) }}
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock %}

{% block entity_widget %}
    {% spaceless %}
        <div class="input-group input-group-sm">
            <input type="hidden" id="{{ form.vars.id }}" value="{{ form.vars.value }}" />
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-info btn-flat" type="button" data-bind="click[loadModal(#{{ form.vars.id }}-parent,{{ path('light_cms_core_backend', {'action': 'tree', 'module':'page', 'id': form.vars.value, 'field': 'parent', 'display': 'modal'}) }})]">Select Parent</button>
            </span>
        </div>
        <div id="{{ form.vars.id }}-parent" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content"></div>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block html_widget %}
    {% spaceless %}
        <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
    {% endspaceless %}
{% endblock %}