

{% block collection_row %}
    {% spaceless %}
        {{ form_widget(form) }}
    {% endspaceless %}
{% endblock %}

{% block widgetcontent_widget %}
    {% spaceless %}
        {% include 'LightCMSPageBundle:Widget:widget.html.twig' with { 'form': form } %}
{#
        <div class="col-md-{{ form.size.vars.value }} widgetform" id="{{ form.vars.id }}">
            <div class="btn-group showonparent" data-keep="yes">
                <span class="fa fa-arrows sorthandle"></span>
            </div>
            <div class="btn-group pull-right showonparent" data-keep="yes">
                <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="glyphicon glyphicon-cog"></i>
                    <span class="fa fa-caret-down"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" data-bind="click[setWidgetSize(4,col-md-4)]">1/3 Size</a></li>
                    <li><a href="#" data-bind="click[setWidgetSize(6,col-md-6)]">1/2 Size</a></li>
                    <li><a href="#" data-bind="click[setWidgetSize(8,col-md-8)]">2/3 Size</a></li>
                    <li><a href="#" data-bind="click[setWidgetSize(12,col-md-12)]">Full Size</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#{{ form.vars.id }}_modal">Edit Widget</a></li>
                    <li><a href="#" data-bind="click[deleteCollectionRow(#{{ form.vars.id }})]">Delete Widget</a></li>
                </ul>
            </div>
            <div class="modal fade" id="{{ form.vars.id }}_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-keep="yes">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            {% for child in form.children %}
                                {{ form_widget(child) }}
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            {{ form.content.vars.value }}
        </div>
#}
    {% endspaceless %}
{% endblock %}

{% block widget_row %}
    {% spaceless %}
        {{ form_widget(form) }}
    {% endspaceless %}
{% endblock %}

{% block row_row %}
    {% spaceless %}
        <div class="box box-primary" id="{{ form.vars.id }}">
            <div class="box-header with-border">
                <span class="fa fa-arrows sorthandle"></span>
                <h3 class="box-title">Row</h3>
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Add Widget
                        <span class="fa fa-caret-down"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% for prototype in form.widgets.vars.prototypes %}
                            <li><a href="#" data-prototype="{{ form_widget(prototype)|escape }}" data-bind="click[addPrototype({{ form.widgets.vars.id }})]">Namr</a></li>
                        {% endfor %}
                    </ul>
                    <button type="button" class="btn btn-xs btn-danger" data-bind="click[deleteCollectionRow(#{{ form.vars.id }})]">Delete Row</button>
                </div>
            </div>
            <div class="box-body">
                {% for child in form.children %}
                    {{ form_widget(child) }}
                {% endfor %}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            {{ form_label(form) }}
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock %}

{% block test_widget %}
    {% spaceless %}
        <div class="input-group input-group-sm">
            <input type="hidden" id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" value="{{ form.vars.value }}" />
            <input type="text" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-info btn-flat" type="button" data-bind="click[loadModal(#{{ form.vars.id }}-parent,{{ path('light_cms_backend', { 'params': 'page/tree/'~form.vars.value }) }})]">Select Parent</button>
            </span>
        </div>
        <div id="{{ form.vars.id }}-parent" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content"></div>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block html_widget %}
    {% spaceless %}
        <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
    {% endspaceless %}
{% endblock %}