{% extends 'LightCMSCoreBundle:Backend:layout.html.twig' %}

{% block body %}
    <section class="content-header">
        <h1>Group List
            <div class="pull-right">
                <div class="btn-group" style="margin-right:20px">
                    <a href="{{ lcmspath('group', 'group', 'create', {}) }}" class="btn btn-sm btn-success"><i class="fa fa-plus"></i></a>
                </div>
                <div class="btn-group" style="margin-right:20px">
                    <div class="pull-right" style="width: 300px">
                        <div class="input-group">
                            <span class="input-group-addon">Filter</span>
                            <input id="filter" type="text" class="form-control" placeholder="Type here..." data-bind="ready{setFocus()}|keyup{filter()}">
                        </div>
                    </div>
                </div>
            </div>
        </h1>
    </section>
    <section class="content">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>name</th>
                                <th style="width: 100px">Action</th>
                            </tr>
                        </thead>
                        <tbody class="searchable">
                            {% for treegroup in getModuleTree('group') %}
                                <tr>
                                    <td>
                                        <i class="{{ getIcon('group', 'group') }}"></i>
                                        <span class="tree-space"><a href="{{ lcmspath('group', 'group', 'edit', {'id': treegroup.id}) }}">{{ treegroup.name }}</a></span>
                                    </td>
                                    <td>
                                        <a class="btn-sm btn-danger" href="{{ lcmspath('group', 'group', 'delete', {'id': treegroup.id }) }}"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}