{% extends 'LightCMSCoreBundle:Frontend:layout.html.twig' %}

{% block title %}
    {{ page.name }}
{% endblock %}

{% block body %}
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">{{ version.title }}</h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                {% for child in site.children %}
                                    {% if child.published != null %}
                                        <li{% if child == page %} class="active"{% endif %}><a href="{{ path('light_cms_frontend', { 'path': child.url}) }}">{{ child.name }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
                {{ version.content|raw }}
                <div class="mastfoot">
                    <div class="inner">
                        <p>Powered by <a href="#">Light CMS</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

